certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.3.1
cycler==0.12.1
finnhub-python
fonttools==4.56.0
idna==3.10
joblib==1.4.2
kiwisolver==1.4.8
matplotlib==3.10.0
numpy==2.2.3
packaging==24.2
pandas
pillow==11.1.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv
pytz==2025.1
requests
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
six==1.17.0
streamlit
threadpoolctl==3.5.0
tzdata==2025.1
urllib3==2.3.0
google-cloud-storage
google-cloud-bigquery